
<div class="home-container">
    <h1>Mate.</h1>
    <div class="home-products-container" id="product-list">

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script> 
