
<div class="home-container">
    <h1>Mate.</h1>
    <div class="home-products-container">
        {{#each products }}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                <p>Precio: ${{this.price}}</p>
                <img src="{{this.thumbnails}}" alt="{{this.title}}" class="product-image" />
            </div>
        {{/each}}
    </div>
</div>
