<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <h2>Tienda del Mate</h2>
            <div class="div-button-nav">
                {{#if currentPage}}
                    {{>agregarProducto}}
                    {{else}}
                        {{>inicio}}
                {{/if}}
                {{#unless isCartPage}}
                    {{>cartButton}}
                {{/unless}}
            </div>
        </div>
    </nav>
    {{{body}}}
</body>
</html>